body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  header .header-container {
    text-align: center;
  }
  
  header img {
    border-radius: 70%;
    height: 400px;
    margin-bottom: 20px;
    width: 300px;
  }
  
  header h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  .aboutt {
    margin-top: 50px;
  }
  nav {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 100px 20px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 1.2em;
    line-height: 1.5;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project {
    width: calc(33.33% - 20px);
  }
  
  .project img {
    width: 100%;
  }
  
  .project h3 {
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
  }

  .project p {
    text-align: center;
  }

  .tech-stack-item {
 
    display: flex;
    text-align: center;
    padding: 20px;
  }
  .tech-stack-item h3 {
    margin-top: 10px;
    font-weight: bold;
  }
  #tech-stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  } 
  
  .tech-stack-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  footer {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    color: white;
    font-size: 1.2em;
    margin: 0;
  }
  #contact{
    margin-bottom: -40px;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    #tech-stack .tech-stack-item img {
      max-width: 50px;
    }
    #tech-stack {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    } 
  
    #tech-stack .tech-stack-item h3 {
      margin-top: 10px;
    }
  }
  @media (max-width: 767px) {
    header h1 {
      font-size: 2em;
    }
  
    header img {
      height: 150px;
      width: 150px;
    }
  
    .project {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 479px) {
    header h1 {
      font-size: 1.5em;
    }}